@{
    ViewData["Title"] = "Access Denied";
    Layout = null;
}

<link rel="stylesheet" href="~/css/AccessDenied.css">

<body class="bg-purple">
    <div class="stars">
        <div class="custom-navbar">
            <div class="navbar-links">
                <ul>
                    <li><a class="btn-request" href="/">Go To Login Page</a></li>
                </ul>
            </div>
        </div>
        <div class="central-body">
            <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
            <a href="/" class="btn-go-home">Go To Login Page</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767__340.png" width="120px">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="140px">
                <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="120">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</body>
